**Exercice 1 :**    
Créer un programme pandas Python qui traite les données du tableau suivant à l'aide d'un DataFrame et les affiches sous forme d'un tableau à l'écran:

![image](https://user-images.githubusercontent.com/123748165/226333321-a26d48aa-a3d8-4d4a-8dd0-fe0745f0c81c.png)

In [105]:
import pandas as pd

tab = {'ID':[1,2,3,4,5],'Name':['Albert','Nathalie','Robert','Jesika','Adam'],'Email':['albert@gmail.com','nathalie@gmail.com','robert@gmail.com','jesika@gmail.com','adam@gmail.com'],'Section':['SVT','SC Eco','Math','Philo','Physique']}

def toDataFrame(dataframe) :
  print(pd.DataFrame(dataframe))

toDataFrame(tab)

   ID      Name               Email   Section
0   1    Albert    albert@gmail.com       SVT
1   2  Nathalie  nathalie@gmail.com    SC Eco
2   3    Robert    robert@gmail.com      Math
3   4    Jesika    jesika@gmail.com     Philo
4   5      Adam      adam@gmail.com  Physique

**Exercice 2 :**    
Créer un programme pandas python qui permet de convertir la série:

In [106]:
import pandas as pd
import numpy as np

serie = pd.Series(np.array(['P', 'a', 'n', 'd', 'a' , 's']))

en la chaine de caractères formée par les éléments de la série. Le programme doit renvoyer la chaine s = "Pandas".

In [107]:
serie.str.cat()

'Pandas'

**Exercice 3 :**    
Ecrire un programme pandas python qui permet de supprimer un élément de la série:

In [108]:
import pandas as pd

df = pd.Series(['Python' , 'Djnago' , 'Tkinter' , 'PyQt' , 'numpy'])

def suppr_el(df) :
  df.drop(int(input('Index de la colonne à supprimer? ')), inplace=True)

suppr_el(df)
df

Index de la colonne à supprimer? 0

1     Djnago
2    Tkinter
3       PyQt
4      numpy
dtype: object

Supprimer le dernier élément à titre d'exemple.

In [109]:
#solution

**Exercice 4 :**    
Reprendre l'exercice précédent **(Exercice3)** en créant cette fois-ci un programme basé sur la bibliothèque pandas python qui supprime les éléments d'index pair de la série.

In [110]:
import pandas as pd

df = pd.Series(['Python' , 'Djnago' , 'Tkinter' , 'PyQt' , 'numpy'])

def suppr_el(df) :
  for index in range(0,len(df),2) :
    df.drop(index, inplace=True)

suppr_el(df)
df

1    Djnago
3      PyQt
dtype: object

In [111]:
df.drop

<bound method Series.drop of 1    Djnago
3      PyQt
dtype: object>

**Exercice 5 :**    
Modfifier le programme suivant afin de supprimer la colonne 'Section' et la remplacer par la colonne: Age = [ 22 , 23 , 21 , 20 , 25 ] sans toucher à laliste data. les modifiction doivent être apportées uniquement au DataFrame df:

In [112]:
import pandas as ps
 
# liste des données
data = [['Tomas' , 'tomas@gmail.com' , 'Math'], 
        ['Albert' ,'albert@gmail.com' , 'SVT' ],
        ['Nathalie', 'nathalie@gmail.com' , 'Sc Eco'], 
        ['Roberto' ,'roberto@gmail.com' , 'Physique'],
        ['Adam' , 'adam@gmail.com' , 'Info']]
labels = [11 , 12, 13 , 14, 15]
 
# création du DataFrame
df = ps.DataFrame(data , index=labels , columns=[ 'Name' , 'Email' , 'Section'])

In [113]:
import pandas as pd

def repl_Sec_for_Age(df) :
  df.drop('Section', axis=1, inplace=True)
  df['Age']=[22,23,21,20,25]

repl_Sec_for_Age(df)
df

        Name               Email  Age
11     Tomas     tomas@gmail.com   22
12    Albert    albert@gmail.com   23
13  Nathalie  nathalie@gmail.com   21
14   Roberto   roberto@gmail.com   20
15      Adam      adam@gmail.com   25

In [114]:
'''
df.pop('Section')
df['Age']=[22,23,21,20,25]
df
'''

"\ndf.pop('Section')\ndf['Age']=[22,23,21,20,25]\ndf\n"

**Exercice 6 :**    
A partir du programme suivant qui represente les données des étudiants dans un DataFrame:

In [115]:
import pandas as ps
 
# liste des données
data = [['Tomas' , 'tomas@gmail.com' , 'Math'], 
        ['Albert' ,'albert@gmail.com' , 'SVT' ],
        ['Nathalie', 'nathalie@gmail.com' , 'Sc Eco'], 
        ['Roberto' ,'roberto@gmail.com' , 'Physique'],
        ['Adam' , 'adam@gmail.com' , 'Info']]
labels = [11 , 12, 13 , 14, 15]
 
# création du DataFrame
df = ps.DataFrame(data , index=labels , columns=[ 'Name' , 'Email' , 'Section'])
df['Email']

11       tomas@gmail.com
12      albert@gmail.com
13    nathalie@gmail.com
14     roberto@gmail.com
15        adam@gmail.com
Name: Email, dtype: object

In [116]:
def get_mails(df) :
  return df[['Email']]

get_mails(df)

                 Email
11     tomas@gmail.com
12    albert@gmail.com
13  nathalie@gmail.com
14   roberto@gmail.com
15      adam@gmail.com

In [117]:
df['Email'].tolist()

['tomas@gmail.com',
 'albert@gmail.com',
 'nathalie@gmail.com',
 'roberto@gmail.com',
 'adam@gmail.com']

**Exercice 7 :**    
Ecrire un programme python pandas qui permet de sélectionner et afficher uniquement les deux colonnes 'Nom' et 'Age':

In [118]:
import pandas as ps

dictData = {'ID' : [31, 71, 30 , 11 , 23] , 
            'Nom': ['Julia', 'Tiago', 'Charlie' , 'Alba' , 'Isaac'],  
        'Age': [22, 21, 20, 20 , 23], 
        'Taille': [170, 190, 181 , 175 , 165]}
# création du dataframe
df = ps.DataFrame(dictData , index=[235 , 155 , 243 , 311 , 117])

In [119]:
def get_name_age(df) :
  return df[['Nom', 'Age']]

get_name_age(df)

         Nom  Age
235    Julia   22
155    Tiago   21
243  Charlie   20
311     Alba   20
117    Isaac   23

**Exercice 8 :**    
Ecrire un programme pandas python permettant de récupérer la liste des index de la série pandas suivante:

In [120]:
data = np.array (['P', 'y', 't', 'h', 'o' , 'n'])
s = ps.Series(data , index=[12 , 7 , 13 , 22 , 11 , 2])
s

12    P
7     y
13    t
22    h
11    o
2     n
dtype: object

In [121]:
s.index

Int64Index([12, 7, 13, 22, 11, 2], dtype='int64')

**Exercice 9 :**    
Ecrire un programme basé sur la bibliothèque python pandas qui permet de convertir la série pandas suivante en un dictionnaire python:

In [122]:
s = ps.Series(["Louis" , "Maya" , "Yassmine"  ,  "Rosa" , "Tomas"] , 
              index= [17 , 21 , 19 , 13  , 27 ])

In [123]:
s.to_dict()

{17: 'Louis', 21: 'Maya', 19: 'Yassmine', 13: 'Rosa', 27: 'Tomas'}

**Exercice 10 :**    
Ecrire un programme basé sur la bibliothèque pandas python qui permet d'ajouter le nom 'Clara' à la série pandas suivante:

In [124]:
s = ps.Series(["Emma" , "Alice" , "Paul"  ,  "Tiago" , "Julia"] , 
              index= [17 , 21 , 19 , 13  , 27 ])

In [125]:
s[22]='Clara'
s

17     Emma
21    Alice
19     Paul
13    Tiago
27    Julia
22    Clara
dtype: object