# **Handling Missing Data**

- Il s'agit d'un problème répandu dans le monde de l'analyse de données.
![image](https://user-images.githubusercontent.com/123748165/226333913-37710dba-c9ab-41cf-86f7-c798246f1935.png)

- Des données manquantes peuvent survenir dans l'ensemble de données pour plusieurs raisons : 
    - les données du champ spécifique n'ont pas été ajoutées par l'utilisateur/l'application de collecte de données, les données ont été perdues lors du transfert manuel, une erreur de programmation, etc.
    - Il est parfois essentiel d'en comprendre la cause. car cela influencera la façon dont vous traitez ces données.

- Pour les données numériques, pandas utilise une valeur à virgule flottante NaN (Not a Number) pour représenter les données manquantes. 
- Il s'agit d'une valeur unique définie dans la bibliothèque Numpy , nous devrons donc également l'importer.
- NaN est le marqueur de valeur manquante par défaut pour des raisons de rapidité de calcul et de commodité.

![image](https://user-images.githubusercontent.com/123748165/226334141-cf4a813f-0df7-4542-ad8c-ae974ae26879.png)

In [ ]:
import numpy as np
import pandas as pd

# Creating a pandas series
data = pd.Series([0, 1, 2, 3, 4, 5, np.nan, 6, 7, 8])

# To check if and what index in the dataset contains null value
data.isnull()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8    False
9    False
dtype: bool

- Ci-dessus, nous avons utilisé la fonction isnull()qui retourne une valeur booléenne vraie ou fausse.
- Vrai, lorsque les données de cet index particulier sont réellement manquantes ou NaN. Le contraire est la notnull()fonction.

In [ ]:
# Pour vérifier où l'ensemble de données ne contient pas de valeur nulle - à l'opposé de isnull()
data.notnull()

0     True
1     True
2     True
3     True
4     True
5     True
6    False
7     True
8     True
9     True
dtype: bool

- De plus, nous pouvons utiliser la dropna()fonction pour filtrer les données manquantes et supprimer la valeur nulle (manquante) et ne voir que les valeurs non nulles.
- Cependant, la valeur NaN n'est pas vraiment supprimée et peut toujours être trouvée dans l'ensemble de données d'origine.

In [ ]:
# N'affichera pas l'index 6 car il contient une valeur nulle (NaN)
data.dropna()

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
7    6.0
8    7.0
9    8.0
dtype: float64

In [ ]:
data

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    NaN
7    6.0
8    7.0
9    8.0
dtype: float64

- Ce que vous pouvez faire pour vraiment "supprimer" ou supprimer la valeur NaN est soit de stocker le nouvel ensemble de données (sans NaN) afin que la série de données d'origine ne soit pas falsifiée, soit d'appliquer une suppression sur place .
- L' argument inplace a une valeur par défaut de false.

In [ ]:
not_null_data = data.dropna()
not_null_data

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
7    6.0
8    7.0
9    8.0
dtype: float64

In [ ]:
# Drop the 6th index in the original 'data' since it has a NaN place
data.dropna(inplace = True)
data

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
7    6.0
8    7.0
9    8.0
dtype: float64

In [ ]:
# Création d'un dataframe avec 4 lignes et 4 colonnes (matrice 4*4)
data_dim = pd.DataFrame([[1,2,3,np.nan],[4,5,np.nan,np.nan],[7,np.nan,np.nan,np.nan],[np.nan,np.nan,np.nan,np.nan]])
data_dim

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  NaN NaN
2  7.0  NaN  NaN NaN
3  NaN  NaN  NaN NaN

- Supposons maintenant que vous ne souhaitiez supprimer que les lignes ou les colonnes qui sont toutes nulles ou uniquement celles qui contiennent un certain nombre de valeurs nulles.
- Découvrez les différents scénarios, rappelez-vous que la baisse ne se produit pas sur place , de sorte que l'ensemble de données réel n'est pas altéré.
- Faites attention aux arguments passés à la dropna()fonction pour déterminer comment supprimer les données manquantes.

In [ ]:
# Supprimer toutes les lignes et colonnes contenant la valeur NaN
data_dim.dropna()

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [ ]:
# Supprimer toutes les lignes et colonnes contenant entièrement de la valeur NaN
data_dim.dropna(how='all')

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  NaN NaN
2  7.0  NaN  NaN NaN

In [ ]:
# Supprimez uniquement les colonnes contenant entièrement la valeur NaN
# La valeur par défaut est 0 - ce qui signifie des lignes
data_dim.dropna(axis='columns')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [ ]:
# Supprimer toutes les colonnes qui ont plus de 2 valeurs NaN
data_dim.dropna(axis='columns', thresh=2)

     0    1
0  1.0  2.0
1  4.0  5.0
2  7.0  NaN
3  NaN  NaN

In [ ]:
# Supprimer toutes les lignes qui ont plus de 2 valeurs NaN
data_dim.dropna(thresh=2)

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  NaN NaN

- Vous savez maintenant comment identifier et supprimer les valeurs manquantes que ce soit pour simplement voir l'ensemble de données résultant ou pour effectuer une suppression sur place .
- Dans de nombreux cas, supprimer simplement les valeurs nulles n'est pas une option réalisable et vous souhaiterez peut-être remplir les données manquantes avec une autre valeur.
- Voyons comment vous pouvez faire cela...

# **Remplir les données manquantes**
- Pour remplacer ou plutôt "remplir" les données nulles, vous pouvez utiliser la fillna()fonction.
- Par exemple, essayons d'utiliser le même ensemble de données que ci-dessus et essayons de remplir les valeurs NaN avec 0.

In [ ]:
# Vérifiez à nouveau à quoi ressemble l'ensemble de données
data_dim

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  NaN NaN
2  7.0  NaN  NaN NaN
3  NaN  NaN  NaN NaN

In [ ]:
# Remplir les valeurs NaN avec 0
data_dim_fill = data_dim.fillna(0)
data_dim_fill

     0    1    2    3
0  1.0  2.0  3.0  0.0
1  4.0  5.0  0.0  0.0
2  7.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0

- Et comme avec dropna(), vous pouvez également faire beaucoup d'autres choses en fonction du type d'argument que vous passez. 
- Aussi un rappel que le passage de l' inplace = True argument apportera la modification à l'ensemble de données d'origine.

In [ ]:
# Passez un dictionnaire pour utiliser des valeurs différentes pour chaque colonne
data_dim_fill = data_dim.fillna({0: 0, 1: 8, 2: 9, 3: 10})
data_dim_fill

     0    1    2     3
0  1.0  2.0  3.0  10.0
1  4.0  5.0  9.0  10.0
2  7.0  8.0  9.0  10.0
3  0.0  8.0  9.0  10.0

- Vous pouvez passer un argument de méthode fillna() à la fonction qui propage automatiquement les valeurs non nulles vers l'avant (ffill ou pad) ou vers l'arrière (bfill ou backfill).

In [ ]:
# Méthode Pass pour déterminer comment remplir la colonne -  vers l'avant ici
data_dim_fill = data_dim.fillna(method='ffill')
data_dim_fill

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  3.0 NaN
2  7.0  5.0  3.0 NaN
3  7.0  5.0  3.0 NaN

- Vous pouvez également limiter le nombre de remplissages ci-dessus. Par exemple, ne remplissez que deux emplacements dans les colonnes...
- De plus, si vous passez axe = 1 , cela remplira la valeur de la ligne en conséquence.

In [ ]:
# Méthode Pass pour déterminer comment remplir la colonne - vers l'avant ici
data_dim_fill = data_dim.fillna(method='ffill', limit=2)
data_dim_fill

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  3.0 NaN
2  7.0  5.0  3.0 NaN
3  7.0  5.0  NaN NaN

In [ ]:
# Méthode Pass pour déterminer comment remplir la ligne - vers l'avant ici
data_dim_fill = data_dim.fillna(axis=1, method='ffill', limit=2)
data_dim_fill

     0    1    2    3
0  1.0  2.0  3.0  3.0
1  4.0  5.0  5.0  5.0
2  7.0  7.0  7.0  NaN
3  NaN  NaN  NaN  NaN

- Avec une certaine compréhension des données et de votre cas d'utilisation, vous pouvez utiliser la fillna()fonction de bien d'autres manières que de simplement la remplir avec des chiffres.
- Vous pouvez le remplir en utilisant la moyenne en utilisant également la mean()valeur médiane ou la valeur médiane median()...

In [ ]:
# Check the data_dim dataset
data_dim

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  NaN NaN
2  7.0  NaN  NaN NaN
3  NaN  NaN  NaN NaN

In [ ]:
# Remplissez la valeur NaN avec les valeurs moyennes dans la colonne correspondante
data_dim_fill = data_dim.fillna(data_dim.mean())
data_dim_fill

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  3.0 NaN
2  7.0  3.5  3.0 NaN
3  4.0  3.5  3.0 NaN